body{
    background: black;
    color: #fff;
    text-align: center;
    align-items: center;
    position: center;
    font-family: monospace;
    margin: 0;
}
  
.logo{
    align-content: middle; 
    
}
  
.nombre{
    font-size: 120%; 
    color: rgb(255, 106, 0);
}
  
.input[type=text] {
    padding: 0;
    left: 0;
    outline: none;
    background-color: white;
    font-size: 16px;
    
}
  
.textC {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    text-align: center;
    
}
  
.textO {
    width: 200px;
    margin-right: -4px;
}

.button-off{
    margin-left: 600px;
    margin-right: 600px;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    padding: 5px;  
    
}

.button{
    width: 180px;
    background-color: #413f3e;
    border: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 5px 5px 2.5px 5px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
  background-color: rgb(255, 106, 0); 
  opacity: 1
    
}